.page-header {
  width: 100%;
  height: 112px;
  background-color: var(--basic-black);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-navigation {
  height: 100%;
}

@media (max-width: 767px) {
  .header-logo__img {
    width: 8rem;
  }
}

@media (max-width: 1179px) {
  .header-container {
    padding: 0 1rem;
  }
}