.page-header {
  width: 100%;
  height: 112px;
  background-color: black;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-navigation {
  height: 100%;
}
